*/* , *::after, *::before *:after, *:before */ {
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
}
h2, h1 {
    font-family: 'Underdog', cursive;
}
.main-header {
    background-color: brown;
    color: bisque;
    padding: 2rem;

}

.main-header div {
    margin: 2rem;
    position: relative;/* de referencia en posicionamiento */    
}

.main-header h1 {
    margin: 0;
    padding: 0;
}

.main-header p {
    margin-bottom: 0;
    margin-top: 0.2rem;
   /*  display: none; */
   visibility: hidden;
}

.main-header:hover p {
    /* display: initial; */
    visibility: initial;
}

.menu ol, .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu a {
    color: inherit;/* para que herede el color */
    text-decoration: none;    
}

.main-menu /* = body>header>nav (una u otra) */{
    border: 1px solid;
    border-radius: 5px;
    width: fit-content;/* adaptar bloque al contenido interno */
    position: absolute;
    top: 2px;
    right: 1rem;
}

.main-menu li {
    display: inline-block
}

.main-menu a {
    display: block;
    padding: 1rem;
}

/* Layout con display table */


.content-wrapper {
    margin: 2rem;
    display: table;
}

.main-content {
    display: table-cell;
    width: 70%;
    background-color: bisque;
    padding-left: 1rem;
    padding-right: 1rem;
}

.main-aside {
    display: table-cell;
    width: 30%;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: gainsboro;
    border: 1px solid;
}

/* CSS de la tabla */

table {
    width: 100%;
    empty-cells: hide;/* para que no se muestren las celdas vacias */
    /* border-collapse: collapse;    para que se colapse*/
}

table:hover {
    border-collapse: collapse; /* para hacer animacion */
}

td,th {
    border: 1px solid black;
}

/* CSS del footer */

.main-footer {
    background-color: brown;
    color: bisque;
    padding-top: 1.2rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

.social-menu {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    
}
.social-menu li {
    display: inline;
    color: rgb(81, 81, 208, 0.5)
}