/* Selector de descendientes : operador es el espacio*/
section p {
    color: brown;
}

/* Selector de hijo : operadar > */

section>p {
    color: darkgreen;
}

/* Selector de hermanos : operador ~ (virgulilla) */

div~p {
    color: darkblue
}

/* Selector de hermanos adyacentes : operador + */
/* para poner el signo es con qlt gr + 4 '+space+space' */
div+p {
    color: darkgoldenrod;
}