body {
    background-color: azure; font-family: 'Montserrat', sans-serif;
}
img {
    width: 50% 
}
h1 {
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.content-wrapper{
    
    margin-left: 2rem;
    margin-right: 2rem;
}
.verde {
    color: darkgreen;
}
img {
    /* img es un elemento inline block, es un hibrido entre inline y block */
    width: 45%;
}
figure {
    /* para quitar los margenes predetermiados de de <figure> */
    margin: 0;
    padding: 0;
}